:root{
	--primary : #1b4694;
	--seconde : #e21e20;
}

.banner{
	position:relative;
	width: 100%;
	height: 90vh;
	background: url('../../images/home.jpg');
	background-size: cover;
}


.start-screen__content-container {
    position: relative;
    z-index: 2;
    
}
#textStart{
    display: grid;
    place-items: center;
    box-shadow: 0 0 20px rgb(254,252,201) , 10px -10px 30px rgb(254,236,133) ;	
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background:rgba(255, 255, 255, 0.1) ;
    backdrop-filter: blur(0.8px);
    overflow: hidden; 
    border-left: 0 0 20px rgb(254,252,201) , 10px -10px 30px rgb(254,236,133) ;	

}
#textStart h1{
    font-size: 45px;
	text-shadow: 0 0 20px rgb(254,252,201) , 10px -10px 30px rgb(254,236,133) ;	
	color:rgb(255, 255, 255)
}
#textStart p{
    font-size: 40px;
	text-shadow: 0 0 20px rgb(254,252,201) , 10px -10px 30px rgb(254,236,133) ;	
	color:#fff
}

/* .start-screen__content__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
} */
a{
    text-decoration: none;
}
/* SECTION APROPOS */
#textApropos{
    color: #2c2828b0;
}

#officeImg{
    width: 70%;
}

/* SECTION STORY */
.Historique , .Banniere{
    /* background-color:#1b4594d2 ; */
    background-color:#2c2828b0 ;
}
.Historique .content{
    height: 50vh;
}
#textStory{
    text-shadow: 0 0 20px rgb(254,252,201) , 10px -10px 30px rgb(254,236,133) ;	
	color:#fff
}
#paralax{
    background:fixed 100%;
	background-repeat: no-repeat ;
	background-size:auto;
    background-position:80%;
    opacity: 0.3;
	/* padding: 30px; */
}
/* Publicites */
.Pub{
    /* height: 40vh; */
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;

  }

@media only screen and (min-width: 768px) and (max-width: 900px) {
    #officeImg{
        width: 100%;
    }
    #textApropos{
        font-size: 25px;
    }
    #textImg{
        display: none;
    }
}

@media (max-width: 700px)  {
	#textStart h1{
        font-size: 25px;
        text-shadow: 0 0 20px rgb(254,252,201) , 10px -10px 30px rgb(254,236,133) ;	
        color:rgb(255, 255, 255)
    }
    #textStart p{
        font-size: 20px;
        text-shadow: 0 0 20px rgb(254,252,201) , 10px -10px 30px rgb(254,236,133) ;	
        color:#fff
    }
    .banner{
        height: 60vh;
    }
    #textStart{
        margin-top: 5rem;
        }
        /* SECTION APROPOS */
        #officeImg{
            width: 100%;
        }
        #textApropos{
            font-size: 20px;
        }
        #textImg{
            margin-top: 1.5rem;
            width: 100%;
            height:50%;
        }
        /* SECTION STORY */
}



